body {
    margin: 0;
    padding: 0;
}

/* Phone or Baseline Views */
main {}

h2 {}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section {}

main picture {
    margin: 0.5rem;
    border: 1px solid #bbb
    padding 0.1rem;
    display: none;
}

.colimage {}


/* Tablet views */
@media only screen and (min-width: 37.5em) {

    main {
        grid-template-columns: 1fr 1fr;
    }

    section:nth-child(3) {
        grid-template-columns: span 2;
    }

    main picture {}

    main section picture img {}

}

/* Desktop Views */
@media only screen and (min-width: 66em) {

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }
}


}